<%- include('../partials/header.ejs') %>

  <h2>Newsfeed: All the latest articles (Article index)</h2>

  <ul>
    <% articles.forEach((article) => { %>
      <li>
        <div>
          <strong>
            <%= article.title %>
          </strong>
        </div>
        <div>
          <small><%= article.posted.toLocaleString() %></small>         
        </div>
        <div>
          by: <a href="/articles/<%= article.id %>"><%= article.author.name %></a>)
          <!-- can we do :id to link to author's specic id? -->
        </div>

      </li>
    <% }) %>
  </ul>

<%- include('../partials/footer.ejs') %>