<%- include('../partials/header.ejs') %>

  <h2><%= article.title %> by <%= article.author.name%></h2>
  <p><%= article.body%></p>

<a href="/articles/<%= article.id %>/edit"> Edit </a></br>
<form method="POST" action="/articles/<%= article.id %>?_method=DELETE">
    <button>Delete</button>
  </form>

<%- include('../partials/footer.ejs') %>