<%- include('../partials/header.ejs') %>

  <h2><%= article.title %></h2>
  <small><%=article.posted.toLocaleString()%></small>
  <p><a href="/authors/<%= article.author.id %>">
  	<%= article.author.name %>
  </a></p>
  <p><%= article.body %></p>

<%- include('../partials/footer.ejs') %>