<%- include('../partials/header.ejs') %>

  <h2><%= article.title %></h2>
  <small><%=article.posted.toLocaleString()%></small>
  <p><a href="/authors/<%= article.author.id %>"><%= article.author.name %></a></p>
  
  <div>
  	
  <p><%= article.body %></p>
   		<form method="POST" action="/articles/<%= article.id %>?_method=DELETE">
    <button> Delete <%= article.title %></button>
  		</form>

  </div>


<%- include('../partials/footer.ejs') %>