<%- include('../partials/header.ejs') %>

  <h2>Edit <%= author.name %></h2>

  <!-- this form should POST to /authors -->
  <form method="POST" action="/authors/<%= author.id %>?_method=PUT">
    <fieldset>
      <label for="name">Name:</label>
      <input 
        id="name" 
        type="text" 
        name="name" 
        placeholder="Enter new Author name"
        value="<%= author.name %>"
      />
    </fieldset> 
    <button>Update Author</button>   
  </form>

<%- include('../partials/footer.ejs') %>