<%- include('../partials/header.ejs') %>

  <h2><%= author.name %></h2>

	<ul>	
		<% articles.forEach((article) => { %>
			<li><a href="/articles/<%= article.id %>"><%= article.title %></a></li>
		<% }) %>
	</ul>


  <div>
    <a href="/authors/<%= author.id %>/edit">(Edit <%= author.name %>)</a>
  </div>


  <!-- https://github.com/expressjs/method-override#override-using-a-query-value -->
  <form method="POST" action="/authors/<%= author.id %>?_method=DELETE">
    <button>Delete <%= author.name %></button>
  </form>

<%- include('../partials/footer.ejs') %>



<!-- * author show page shoudl include a list of their articles, which should be links that you can click on to go to that article's show page -->