<%- include('../partials/header.ejs') %>

  <h2><%= author.name %></h2>


  <div>
    <a href="/authors/<%= author.id %>/edit">(Edit <%= author.name %>)</a>
  </div>


  <!-- https://github.com/expressjs/method-override#override-using-a-query-value -->
  <form method="POST" action="/authors/<%= author.id %>?_method=DELETE">
    <button>Delete <%= author.name %></button>
  </form>

<%- include('../partials/footer.ejs') %>